/* Import theme tokens */
@import "tailwindcss";

@theme {
  --color-primary-50: #f7cfe7;
  --color-primary-100: #ef9fcf;
  --color-primary-200: #e76fb7;
  --color-primary-300: #de3f9f;
  --color-primary-400: #c52184;
  --color-primary-500: #9d1b69;
  --color-primary-600: #76144f;
  --color-primary-700: #4e0d34;
  --color-primary-800: #27071a;
  --color-primary-900: #13030d;
  --color-primary: #c52184;
  --color-secondary-50: #d9dee5;
  --color-secondary-100: #b4bdcc;
  --color-secondary-200: #8e9bb2;
  --color-secondary-300: #687a99;
  --color-secondary-400: #4f5d75;
  --color-secondary-500: #3f4a5c;
  --color-secondary-600: #2f3745;
  --color-secondary-700: #1f252e;
  --color-secondary-800: #101217;
  --color-secondary-900: #08090c;
  --color-secondary: #4f5d75;
  --color-surface-50: #fefefe;
  --color-surface-100: #fdfdfd;
  --color-surface-200: #fcfcfc;
  --color-surface-300: #fbfbfb;
  --color-surface-400: #fafafa;
  --color-surface-500: #c8c8c8;
  --color-surface-600: #969696;
  --color-surface-700: #646464;
  --color-surface-800: #323232;
  --color-surface-900: #191919;
  --color-surface: #fafafa;
  --color-background-50: #ffffff;
  --color-background-100: #ffffff;
  --color-background-200: #ffffff;
  --color-background-300: #ffffff;
  --color-background-400: #ffffff;
  --color-background-500: #cccccc;
  --color-background-600: #999999;
  --color-background-700: #666666;
  --color-background-800: #333333;
  --color-background-900: #000000;
  --color-background: #ffffff;
  --color-text-50: #d0d2df;
  --color-text-100: #a0a6bf;
  --color-text-200: #71799e;
  --color-text-300: #4e5472;
  --color-text-400: #2d3142;
  --color-text-500: #242735;
  --color-text-600: #1b1e28;
  --color-text-700: #12141b;
  --color-text-800: #090a0d;
  --color-text-900: #050506;
  --color-text: #2d3142;
  --color-subtleText-50: #d9dee5;
  --color-subtleText-100: #b4bdcc;
  --color-subtleText-200: #8e9bb2;
  --color-subtleText-300: #687a99;
  --color-subtleText-400: #4f5d75;
  --color-subtleText-500: #3f4a5c;
  --color-subtleText-600: #2f3745;
  --color-subtleText-700: #1f252e;
  --color-subtleText-800: #101217;
  --color-subtleText-900: #08090c;
  --color-subtleText: #4f5d75;
  --color-muted-50: #f2f2f2;
  --color-muted-100: #e5e6e6;
  --color-muted-200: #d8d9d9;
  --color-muted-300: #cbcdcd;
  --color-muted-400: #bfc0c0;
  --color-muted-500: #989a9a;
  --color-muted-600: #727474;
  --color-muted-700: #4c4d4d;
  --color-muted-800: #262727;
  --color-muted-900: #131313;
  --color-muted: #bfc0c0;
  --color-border-50: #f2f2f2;
  --color-border-100: #e5e6e6;
  --color-border-200: #d8d9d9;
  --color-border-300: #cbcdcd;
  --color-border-400: #bfc0c0;
  --color-border-500: #989a9a;
  --color-border-600: #727474;
  --color-border-700: #4c4d4d;
  --color-border-800: #262727;
  --color-border-900: #131313;
  --color-border: #bfc0c0;
  --color-success-50: #cdf6e5;
  --color-success-100: #cfffcc;
  --color-success-200: #64d39a;
  --color-success-300: #2fc275;
  --color-success-400: #18a058;
  --color-success-500: #139856;
  --color-success-600: #0f7a45;
  --color-success-700: #0a5c34;
  --color-success-800: #052e1a;
  --color-success-900: #02170d;
  --color-success: #18a058;
  --color-danger-50: #fbccdd;
  --color-danger-100: #f799bb;
  --color-danger-200: #f3669a;
  --color-danger-300: #ee3378;
  --color-danger-400: #d81159;
  --color-danger-500: #ae0e49;
  --color-danger-600: #820b36;
  --color-danger-700: #570724;
  --color-danger-800: #2b0412;
  --color-danger-900: #160209;
  --color-danger: #d81159;
}